<form *ngIf="mostrarFormulario" (submit)="onSubmit()">
    <label for="nombre">¿Cómo te llamas?</label><br>
    <input type="text" id="nombre" name="nombre" required><br><br>
    <button type="button" (click)="onSubmit()">Enviar</button> 
</form>

<h1 *ngIf="nombreUsuario">Hola {{ nombreUsuario }}</h1> 
<div *ngIf="nombreUsuario"> 
</div>
<br>
<app-user></app-user>

<nav>
    <ul>
        <li>
            <a routerLink="/user">Reutilización de un módulo como ruta </a>
        </li>
        <li>
            <a routerLink="/cart">Ruta 2</a>
        </li>
    </ul>
</nav>
<router-outlet></router-outlet>
